.member-card {
  .meta {
    left: 22%;
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      &.linkedin-icon {
        a {
          color: #0a66c2;
        }
      }
      &.email-icon {
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #d93025;
        }
      }
    }
    a {
      display: flex;
      text-decoration: none;
      color: black;
    }
  }

}
.email-from-textarea{
  width: 100%;
  margin-top: 20px;
  height: 200px;
  resize: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  font-size: rem(14px);
  font-family: Arial, Helvetica, sans-serif;
  border-color: rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  &:hover{
      border-color: rgb(0, 0, 0);
  }
}

.email-card-success-alert{
   background-color: #00800040 !important;
}