.app-header {
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    font-size: 1rem;
    margin: 0 auto;
    @media screen and (max-width: 1200px) {
        width: 1000px;
    }
    .img-container {
        width: 165px;
        height: 30px ;
        img {
            width: 165px;
            height: 30px ;
        }
    }
    .nav-links {
        display: flex;
        gap: 25px;
        align-items: center;
        a {
            color: #6e807a;
        }
        a.active {
            color: #00d9a5;
        }
    }
    .login-btn {
        color: white;
        background-color: #00d9a5;
        width: 150px;
        height: 40px;
        transition: 0.3s;
        font-size: 1em;
        &:hover {
            background-color: #03a882;
        }
    }
}
