* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.6;
    color: $clr2;
}

body {
    font-size: rem(18px);
    margin: 0;
    height: 100vh;
    font-family: ssp-reg;
    @media screen and (max-width: $normal-breakpoint) {
     
     }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: caveat;
    margin: 0 0 0.6em;
    line-height: 1;
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.map {
    width: 500px;
    height: 400px;
    @media screen and (max-width:$normal-breakpoint) {
        width: 300px;
        height: 400px;
    }
}
