.card-container {
    width: 260px;
    height: 100px;
    border-radius: 3px;
    box-shadow: 0 2px 6px #9a9f9733;
    grid-gap: 30px;
    gap: 30px;
    display: flex;
    margin: 0 70px;
    align-items: center;
    padding: 0 20px;
    background-color: #fff;
    .icon-container {
        border-radius: 50%;
        width: 65px;
        display: flex;
        height: 65px;
        justify-content: center;
        align-items: center;
        svg {
            color: white;
            font-size: rem(32px);
        }
    }
    p {
        margin: 0;
        width: 120px;
        font-size: rem(20px);
    }
    @media screen and (max-width: 1200px) {
        margin: 0 50px;
    }
    @media screen and (max-width: 1000px) {
        margin: 0px 10px;
        width: 230px;
    }
    @media screen and (max-width: $normal-breakpoint) {
        margin: 0px 0px;
        width: 100%;
    }
   
}
