.main-card-container {
    width: 100%;
    position: relative;
    background-color: #f6f6f6;
    .cards-container {
        position: relative;
        bottom: 30px;
        display: flex;
        justify-content: center;
    }
    @media screen and (max-width: $normal-breakpoint) {
        .cards-container {
            flex-direction: column;
            bottom: 0;
            padding: 30px 20px;
            gap: 20px;
        }
    }
}
