.health-section-container {
    height: 550px;
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-left: 30px;
    .section-content {
        width: 570px;
        h1 {
            font-size: 40px;
            font-family: sans-serif;
            margin-bottom: 8px;
            font-weight: 500;
            color: #343531;
        }
        p {
            color: #6e807a;
        }
        .main-btn {
            margin: 0;
        }
    }
    .img-container {
        width: 570px;
    }
    @media screen and (max-width: $normal-breakpoint) {
        height: 700px;
        padding-top: 0px;
        flex-direction: column;
        .img-container {
            width: 260px;
            align-self: end;
        }
        .section-content {
            width: 100%;
            padding-top: 50px;
            h1 {
                font-size: 40px;
                font-family: sans-serif;
                margin-bottom: 8px;
                font-weight: 500;
                color: #343531;
            }
            p {
                color: #6e807a;
            }
            .main-btn {
                margin: 0;
            }
        }
    }
}
