.main-hero {
    width: 100%;
    height: 550px;
    position: relative;
    img {
        height: 100%;
        object-fit: cover;
        filter: brightness(0.5);
    }
    .main-content {
        width: 500px;
        height: 300px;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        p {
            text-transform: uppercase;
            letter-spacing: 4px;
            font-size: 16px;
        }
        h1 {
            margin-bottom: 32px;
            font-size: rem(56px);
        }
        .main-btn {
            font-size: 1em;
        }
    }
    @media screen and (max-width: $normal-breakpoint) {
        .main-content {
            width: 100%;
        }
    }
}
.hero-modal {
    justify-content: center;
    align-items: center;
    button {
        &:first-of-type {
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
}
