.admin-side{
    background-color:#00D9A5 ;
    padding: 30px;
}

.admin-profile{
    h1{
        text-transform: capitalize;
        font-size: rem(26px);
        margin-bottom: 10px;
    }
    p{
        text-transform: capitalize;
        font-size: rem(16px);
        text-align: center;
    }  
}

.admin-profile-img-continer{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    img{
        height: 100%;
        border-radius: 50%;
    }


}

.admin-side-nav{
    width: 100%;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    a.active{
        color: blue;
    }
}


.admin-main-contect-continer{
    margin-left: 20px;
    padding: 10px;
    width: 100%;
}

.dashbord-analitics-continer{
    width: 100%;
    gap: 20px;
}

.card-list{
    gap: 20px;
    justify-content: center;
    width: 100%;
    @media screen and (max-width:469px) {
       gap: 10px;
       grid-gap:10px;
     }
}
.card{
    width:33%;
    height: 120px;
    border: 1px solid black;
    font-size: rem(20px);
    background-color: white;
    text-align: center;
    padding:8px;
    flex-direction: column;
    @media screen and (max-width:$normal-breakpoint) {
       font-size:16px;
    }
    @media screen and (max-width:469px) {
        width:28%;
        padding:20px;
     }
}

.dashbord-analitics-continer{
    margin-left: 40px;
}

.admin-spce{
    height: 40px;
}

.updateBtn{
    border-radius: 10px;
    background-color:#2196f3 ;
    transition: 0.4s;
    color: white;
    &:hover{
        background-color:#2195f39a ;
    }
}

.deleteBtn{
    border-radius: 10px;
    background-color: #fe0000ab;
    transition: 0.4s;
    color: white;
    &:hover{
        background-color:#fe000070 ;
    }
}
.spacer {
    height: 80px;
}

.dasbord{
    margin-top: 20px;
}

.dasbord-btn-continer{
    padding-top: 20px;
    width:100%;
    padding-bottom: 20px;
    button{
        flex-grow: 1;
        background-color: #04477b;
        color: white;
        text-transform: capitalize;
        &.activeChart{
            background-color: #33cb74;
        }
    }
}

.pie-continer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    h1{
        font-size: rem(20px);
        text-transform: capitalize;
        margin-bottom: 20px;
        margin-top: 10px;
    }
}

.pie{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
      @media screen and (max-width: 829px) {
        width:400px !important;
        height:400px  !important;
        canvas{
            width:400px !important;
        height:400px  !important;
        }
      }
      @media screen and (max-width: 469px) {
        width:320px !important;
        height:320px  !important;
        canvas{
            width:320px !important;
        height:320px  !important;
        }
      }
}

.table-pagination{
    p{
        margin-bottom: 0;
    }
    .css-pdct74-MuiTablePagination-selectLabel{
        display: none;

    }
    .css-16c50h-MuiInputBase-root-MuiTablePagination-select{
        display: none;
    }
}

.search-input-continer{
    align-self: flex-start;
    margin: 25px;
    position: relative;
}

.search-input{
    padding: 10px;
    padding-left: 40px;
    width: 260px;
    color: #404145;
}
.search-input-icon{
    position: absolute;
    left: 10px;
    top: 8px;
    color: #7a7d85;
}

.main-table-continer{
    width: 100%;
    padding:  0 25px 25px 25px;
}
.main-table-head{
    background-color: #04477b !important;
    color: white !important;
    padding: 0 !important;
    padding-left: 16px !important;
  .head-title{
      &:hover{
          color: white !important;
      }
  }

  .css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active{
    color: white !important;
    .MuiTableSortLabel-icon{
        color: white !important;
    }
  }
}

.update{
    padding: 30px;

    h1{
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 30px;
    }
    form{
        gap: 15px;
    }

    .input-continer{
        display: flex;
        gap: 10px;
      input[type="checkbox"]{
           margin-top: 8px;
       }
    }
}
.modal-header-update{
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
    button{
        height: 25px;
        margin-top: 13px;
        margin-right: 10px;
        background-color: #fe0000ab;
        color: white;
        justify-self: flex-end;
    }
}

