.type-of-treatment-selector {
  padding-top: 20px;
}

.to-doctor-selector {
  margin-top: 20px;
  margin-bottom: 10px;
}

.date-time-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  p {
    padding: 0 0 10px 0;
  }
}

.modal-info-continer  {
 .make-appointment-btn {
  margin-top: 30px;
  background-color: #00D9A5;
  padding:10px;
  }
.MuiButtonBase-root{
     margin-top: 0px;
  margin-bottom: 0px;
  background-color: #fe0000ab;
        padding: 10px;
}
}

.appoint-modal-title {
  display: flex;
  justify-content: center;
  padding: 10px;
  h2 {
    font-family: sans-serif;
    color: $clr7;
  }
}
