.inbox-msg-content{
    padding:0 10px;
    height: 60px;
    display: flex;
    align-items: center;
    gap:25px;
    justify-content: space-between;
    font-family:sans-serif ;
    font-weight: 700;
    transition: 1s;
    cursor: pointer;
    @media screen and (max-width: $normal-breakpoint) {
        font-size: 14px;
    }
    &.seen{
        font-weight: 400;
    }
    &:hover{
        background-color:rgba(120, 143, 151, 0.377);
    }
    .mail-msg{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 200px;
        @media screen and (max-width: 450px) {
            width:150px
        }
    }

}
.mail-profile-info{
    display: flex;
    align-items: center;
    p{
        padding:0 0 0 10px;
        margin:0;
    }
    img{
        width:40px;
        height: 40px;
        border-radius: 50%;
        object-fit:cover;
       
    }
}